* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

input,
body,
button {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  max-width: 1120px;
  width: 100%;

  margin: 5rem auto;
}

h1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  font-size: 2.5rem;
}

h1 img {
  width: 35px;
}

#form-container {
  display: grid;
  grid-template-columns: 45% 20% 25%;
  gap: 1rem;

  width: 50%;
}

input,
button {
  padding: 0.5rem;
  font-size: 1.125rem;
}

input:focus {
  outline: none;
}

#matter-input {
  border: none;
  border-bottom: 2px solid #211a1d;
}

#grade-input {
  border: none;
  border-bottom: 2px solid #211a1d;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: 1.25rem;
  font-weight: 700;

  border: none;

  color: #fff;
  background-color: #2d7dd2;

  cursor: pointer;

  transition: all 0.2s;
}

.submit-btn:hover {
  background-color: #468cd8;
}

table {
  width: 100%;
}

table th {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #211a1d;
}

table td {
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;

  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

table td img {
  width: 36px;
}

.approved,
.reproved {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 6px;
}

.approved {
  color: #fff;
  background-color: #468cd8;
}

.reproved {
  color: #fff;
  background-color: #bd1e1e;
}
